body {
  background-color: #1C2C54;
}

.header {
  width: 100%;
  height: 200px;
  background-image: url("../public/images/headerImage/musee-maritime.jpeg");
  background-size: cover;
}

.titleHeader {
  background-color: #242424;
  padding: 20px;
  color: #F2CF41;
}