.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

:root {
  --dark-blue-color: #1C2C54;
  --yellow-color: #F2CF41;
  --grey-color: #242424;
  --light-blue: #303C64;
  --white: #FFFFFF;
}

body {
  background-color: var(--dark-blue-color);
}

.headerContainer {
  width: 100%;
  height: 200px;
  background-image: url("../public/images/headerImage/musee-maritime.jpeg");
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: 50%;
  display: grid !important;
  align-items: end !important;
  position: relative;
}

.App-link {
  color: #61dafb;
}

#TitleBoat
{
  padding: 20px;
  color: #F2CF41;
}

#TitleBoat h1
{
  background-color: #F2CF41;
  border-radius: 10px;
  padding: 15px 50px;
  color: #1C2C54;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  top: 160px;
}



#ImageBoat
{
  width: 100%;
  height: 200px;
  background-image: url("../public/images/headerImage/musee-maritime.jpeg");
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: 50%;
}

#Description
{
  margin: 15px;
}

#Description p
{
  color: #F2CF41;
  text-align: left;
  font-size: 15px;

}

#SousTitle
{
  padding-left: 1em;
  width: 45%;
  border-radius: 0 10px 10px 0;
  background-color: #F2CF41;
  color: #1C2C54;
  font-weight: bold;
  font-size: 0.6em;
  text-align: left;
}

#Barre
{
  padding-bottom: 1px;
  background-color: #F2CF41;
}

#Caracteristiques
{
  color: #F2CF41;
}

h1
{
  margin:0 1em 0 0;
}

.titleHeaderContainer {
  background-color: var(--grey-color);
  padding: 20px;
  color: var(--yellow-color);
}

p {
  margin: 0;
  text-align: center;
  font-size: large;
}

.main {
  margin: auto;
  max-width: 900px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  margin-top: 5em;
  border: 2px solid var(--yellow-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
  padding-top: 50px;
}

.contentTitleContainer {
  background-color: var(--yellow-color);
  border-radius: 10px;
  padding: 15px 50px;
  color: var(--dark-blue-color);
  font-weight: bold;
  width: 9em;
  position: absolute;
  top: -25px;
}

#mapContainer{
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: var(--light-blue) !important;
  max-width: 20em;
}

.leaflet-popup-content{
  color: var(--yellow-color);
}

.contentTitleHeaderContainer {
  background-color: var(--yellow-color);
  border-radius: 10px;
  padding: 1em 3.125em;
  color: var(--dark-blue-color);
  font-weight: bold;
  width: 9em;
  position: absolute;
  bottom: -25px;
  left: 5%;
}

.infoMusee {
  color: var(--yellow-color);
  margin: 1em;
}

.infoMusee > span {
  color: lawngreen;
}

.meteoContainer {
  display: flex;
  flex-direction: row;
  width: 275px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.meteo {
  background-color: var(--white);
  opacity: 50%;
  border-radius: 10px;
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.meteo > div {
  margin: 1em;
  color: var(--dark-blue-color);
  font-weight: bold;
}
.imgMeteo{
  height: 3em;
}

.request-popup p{
  font-size: 100%;
  color: var(--yellow-color)!important;
}
.titleBoat a{
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  text-decoration-color: var(--yellow-color);
  color: var(--yellow-color)!important;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.Navbar
{
  background-color: #242424;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width:100%;
  flex-direction: column;
}

.Navbar a
{
  text-decoration-line: none;
  color: white;
}

.Navbar a:hover
{
  opacity: 75%;
}

.Navbar a
{
  margin: 15px;
  border-bottom: 1px #F2CF41 solid;
  padding-bottom: 10px;
  /*background-color: aliceblue;*/
}

.Navbar div a
{
  display: flex;
  justify-content: center;
}

#replier
{
  display: none;
}

#bouton {
  padding: 10px;
}
