:root {
  --dark-blue-color: #1C2C54;
  --yellow-color: #F2CF41;
  --grey-color: #242424;
  --light-blue: #303C64;
  --white: #FFFFFF;
}

body {
  background-color: var(--dark-blue-color);
}

.headerContainer {
  width: 100%;
  height: 200px;
  background-image: url("../public/images/headerImage/musee-maritime.jpeg");
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: 50%;
  display: grid !important;
  align-items: end !important;
}

.titleHeaderContainer {
  background-color: var(--grey-color);
  padding: 20px;
  color: var(--yellow-color);
}

p {
  margin: 0;
  text-align: center;
  font-size: large;
}

.main {
  margin: auto;
  max-width: 800px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  margin: 2em;
  border: 2px solid var(--yellow-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
}

.contentTitleContainer {
  background-color: var(--yellow-color);
  border-radius: 10px;
  padding: 15px 50px;
  color: var(--dark-blue-color);
  font-weight: bold;
  width: 9em;
  position: absolute;
  top: -25px;
}

.infoMusee {
  color: var(--yellow-color);
  margin: 1em;
}

.infoMusee > span {
  color: lawngreen;
}

.meteoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  justify-content: space-between;
}

.meteo {
  background-color: var(--white);
  opacity: 50%;
  border-radius: 10px;
  padding: 50px 15px;
}